<?xml version="1.0"?>
<robot name="potted_plant">
  <link name="pot">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="5.0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="pot.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="pot.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="leaf_1">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="leaf.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="leaf.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="leaf_2">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="leaf.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="leaf.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="leaf_3">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="leaf.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="leaf.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="leaf_4">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="leaf.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="leaf.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="pot_to_leaf_1" type="fixed">
    <parent link="pot"/>
    <child link="leaf_1"/>
    <origin rpy="0 0.297 1.5705" xyz="0 0.063 0.274"/>
  </joint>
  <joint name="pot_to_leaf_2" type="fixed">
    <parent link="pot"/>
    <child link="leaf_2"/>
    <origin rpy="0 0.297 3.141" xyz="-0.064 0 0.274"/>
  </joint>
  <joint name="pot_to_leaf_3" type="fixed">
    <parent link="pot"/>
    <child link="leaf_3"/>
    <origin rpy="0 0.297 4.648" xyz="0 -0.063 0.274"/>
  </joint>
  <joint name="pot_to_leaf_4" type="fixed">
    <parent link="pot"/>
    <child link="leaf_4"/>
    <origin rpy="0 0.297 0" xyz="0.064 0 0.274"/>
  </joint>
</robot>

