<?xml version="1.0"?>
<robot name="small_potted_plant">
  <link name="pot">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.5"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="pot.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="pot.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="plant">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.3"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="plant.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="plant.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="pot_to_plant" type="fixed">
    <parent link="pot"/>
    <child link="plant"/>
    <origin rpy="0 0 0" xyz="0 0 0.056"/>
  </joint>
</robot>

