<?xml version="1.0"?>
<robot name="trashbin">
  <link name="bucket">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="1.0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="bucket_visual.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="bucket_visual.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="pedal">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="pedal.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="pedal.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="hinge">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="hinge.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="hinge.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="lid">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="lid.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="lid.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="bucket_to_pedal" type="fixed">
    <parent link="bucket"/>
    <child link="pedal"/>
    <origin rpy="0 0 0" xyz="0 0.106 -0.203"/>
  </joint>
  <joint name="bucket_to_hinge" type="fixed">
    <parent link="bucket"/>
    <child link="hinge"/>
    <origin rpy="0 0 0" xyz="0 -0.103 0.094"/>
  </joint>
  <joint name="bucket_to_lid" type="fixed">
    <parent link="bucket"/>
    <child link="lid"/>
    <origin rpy="0 0 0" xyz="0 0 0.139"/>
  </joint>
</robot>

