<?xml version="1.0"?>
<robot name="wide_doorway">
  <link name="top">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="top.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="top.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="side_1">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="side.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="side.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="side_2">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="1.0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="side.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="side.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="frame_top">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="frame_top.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="frame_top.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="frame_side_1">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="frame_side.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="frame_side.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="frame_side_2">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="frame_side.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="frame_side.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="top_to_side_1" type="fixed">
    <parent link="top"/>
    <child link="side_1"/>
    <origin rpy="0 0 0" xyz="-0.466 0 -0.64"/>
  </joint>
  <joint name="top_to_side_2" type="fixed">
    <parent link="top"/>
    <child link="side_2"/>
    <origin rpy="0 0 0" xyz="0.466 0 -0.64"/>
  </joint>
  <joint name="top_to_frame_top" type="fixed">
    <parent link="top"/>
    <child link="frame_top"/>
    <origin rpy="0 0 0" xyz="0 0 -0.144"/>
  </joint>
  <joint name="top_to_frame_side_1" type="fixed">
    <parent link="top"/>
    <child link="frame_side_1"/>
    <origin rpy="0 0 0" xyz="-0.443 0 -0.635"/>
  </joint>
  <joint name="top_to_frame_side_2" type="fixed">
    <parent link="top"/>
    <child link="frame_side_2"/>
    <origin rpy="0 0 0" xyz="0.443 0 -0.635"/>
  </joint>
</robot>

