<?xml version="1.0"?>
<robot name="cardboard_box">
  <link name="box">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="3.0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="box.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="box.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="top_tape">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.005"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="tape.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="tape.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="bottom_tape">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.005"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="tape.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="tape.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="box_to_top_tape" type="fixed">
    <parent link="box"/>
    <child link="top_tape"/>
    <origin rpy="0 0 0" xyz="0 0 0.083"/>
  </joint>
  <joint name="box_to_bottom_tape" type="fixed">
    <parent link="box"/>
    <child link="bottom_tape"/>
    <origin rpy="0 0 0" xyz="0 0 -0.083"/>
  </joint>
</robot>

