<?xml version="1.0"?>
<robot name="tablelamp">
  <link name="base">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="2.0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="base.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="base.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="pole">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="1.0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="pole.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="pole.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="lampshade_segment_1">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="lampshade_segment_2">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="lampshade_segment_3">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="lampshade_segment_4">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="lampshade_segment_5">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="lampshade_segment_6">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="lampshade_segment.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="base_to_pole" type="fixed">
    <parent link="base"/>
    <child link="pole"/>
    <origin rpy="0 0 0" xyz="0 0 0.108"/>
  </joint>
  <joint name="base_to_lampshade_1" type="fixed">
    <parent link="base"/>
    <child link="lampshade_segment_1"/>
    <origin rpy="0 0 0" xyz="0 0 0.206"/>
  </joint>
  <joint name="base_to_lampshade_2" type="fixed">
    <parent link="base"/>
    <child link="lampshade_segment_2"/>
    <origin rpy="0 0 1.047" xyz="0 0 0.206"/>
  </joint>
  <joint name="base_to_lampshade_3" type="fixed">
    <parent link="base"/>
    <child link="lampshade_segment_3"/>
    <origin rpy="0 0 2.094" xyz="0 0 0.206"/>
  </joint>
  <joint name="base_to_lampshade_4" type="fixed">
    <parent link="base"/>
    <child link="lampshade_segment_4"/>
    <origin rpy="0 0 3.141" xyz="0 0 0.206"/>
  </joint>
  <joint name="base_to_lampshade_5" type="fixed">
    <parent link="base"/>
    <child link="lampshade_segment_5"/>
    <origin rpy="0 0 4.188" xyz="0 0 0.206"/>
  </joint>
  <joint name="base_to_lampshade_6" type="fixed">
    <parent link="base"/>
    <child link="lampshade_segment_6"/>
    <origin rpy="0 0 5.235" xyz="0 0 0.206"/>
  </joint>
</robot>

